<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <link href="{% static 'css/p2.css'%}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>宏哲的個人網頁</title>
</head>

<body>
    <div class="container">
        <div class="whole">
            <h1>宏哲107-1的課表</h1>
            <table>
                <tr>
                   <th></th> 
		   {%for i in days%}
                    <th>星期{{i.libai}}</th>
		   {%endfor%}
                </tr>
		<tr>
                    <td>8.10-9.00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9.10-10.00</td>
                    <td></td>
                    <td>資訊視覺化</td>
                    <td></td>
                    <td>心理與神經資訊學</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10.20-11.10</td>
                    <td></td>
                    <td>資訊視覺化</td>
                    <td></td>
                    <td>心理與神經資訊學</td>
                    <td>英文</td>
                </tr>
                <tr>
                    <td>11.20-12.10</td>
                    <td></td>
                    <td>資訊視覺化</td>
                    <td></td>
                    <td>心理與神經資訊學</td>
                    <td>英文</td>
                </tr>
                <tr>
                    <td>12.20-13.10</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13.20-14.10</td>
                    <td>科技資訊資源與服務</td>
                    <td></td>
                    <td>資訊檢索</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14.20-15.10</td>
                    <td>科技資訊資源與服務</td>
                    <td></td>
                    <td>資訊檢索</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15.30-16.20</td>
                    <td>科技資訊資源與服務</td>
                    <td></td>
                    <td></td>
                    <td>資訊檢索</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16.30-17.20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    <a href="https://swaiidjango.herokuapp.com">回首頁</a>
    </div>

</body>

</html>
